@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");

body {
  font-family: "Happy Monkey", cursive;
  background-color: lavender;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  padding: 10px;
  font-size: 2.5em;
  margin-top: 20px;
}
img {
  width: 10%;
  height: auto;
}

h2 {
  margin: 20px;
  font-weight: 100;
  text-align: center;
  color: lightcoral;
  padding: 10px;
  width: 300px;
  margin: 0 auto;
}
#add-expense-container {
  width: 80%;
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 5px inset lightslategray;
  border-radius: 5px;
}

.form {
  width: 80%;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1rem;
}

#btn {
  background-color: lightcoral;
  border-radius: 10px;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

#btn:hover {
  background-color: darkgray;
}

table {
  width: 100%;
  table-layout: auto;
}

table,
td,
th {
  border-collapse: collapse;
}
td,
th {
  padding: 3px;
  border: 2px solid darkgray;
  text-align: center;
  font-size: 18px;
}

th {
  font-size: 1.5rem;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .form {
    flex-direction: column;
  }
}
